@tailwind base;
@tailwind components;
@tailwind utilities;


.navbar__link:hover {
  color: chartreuse;
  transition: all 0.4s;
}
.navbar__link :after{
  position: absolute;
  content: "";
  background-color: chocolate
  
}